body {
  background-color: #7da2a5;
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 150px 80px 150px;
  max-width: 1020px;
  padding: 60px;
  border: 1px solid lightgrey;
  background-color: #fafafa;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  width: 100%;
}

.paragraph {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.header__heading {
  font-size: 3em;
  text-transform: uppercase;
}

.header__heading:hover {
  color:#7da2a5;
}

.header__ul {
  display: flex;
  padding: 0;
  text-transform: uppercase;
  list-style-type: none;
}

.header__ul__li {
  margin: 5px;
}

.header__ul__li__bullet {
  margin: 5px;
}

.header__ul__li:hover {
  font-weight: 800;
  color:#7da2a5;
}

.header__time {
  align-self: flex-start;
  align-items: center;
}

.header__span {
  align-self: flex-end;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.all-content {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  width: 80%;
  padding-left: 15px;
}

.aside-content {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 20%;
  border-right: 2px solid #000000;
  padding-right: 15px;
}

.dd {
  margin-inline-start: 0;
  margin-bottom: 25px;
}

.dd:hover {
  background-color: #7da2a5;
}

.heading {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

.main__heading {
  font-size: 2em;
  text-align: center;
}

.section-first__paragraph {
  clear: both;
  margin-top: 30px;
  font-size: 1.3em;
}

.img__first {
  float: left;
  margin-right: 20px;
  width: 320px;
  border: 1px solid #999999;
}

.blockquote {
  margin-right: 0;
}

.blockquote__quote {
  margin-right: 0;
  line-height: 140%;
  font-style: italic;
  font-size: 1.5em;
}

.blockquote__cite {
  font-size: 1.5em;
}

.mark {
  background-color: #add8e6;
}

.img__second {
  clear: both;
  align-self: center;
  width: 640px;
  height: 200px;
  border: 1px solid #999999;
}

.paragraph__upper {
  margin-bottom: 20px;
}

.paragraph__lower {
  margin: 20px 10px 0 10px;
  text-align: justify;
}

.section-second__wrapper {
  display: block;
} 

.section-second__heading {
  font-size: 1.5em;
  text-align: center;
}

.article-second {
  column-count: 2;
  display: flex;
  flex-direction: row;
  margin: 0 -10px 0 -10px;
}

.article-second__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.footer {
  width: 100%;
}

.footer__hr {
  margin-top: 30px;
  margin-bottom: 15px;
  border: none;
  height: 2px;
  width: 100%;
  background-color: #000000;
}

.footer__page-number {
  text-align: right;
  font-size: 1.2em;
  font-weight: 700;
}